<launch>
  <rosparam ns="models">
    ['gillette_shaving_gel', 'garnier_shampoo_bottle', 'all']
  </rosparam>
  <group ns="model_uris">
    <param name="garnier_shampoo_bottle" value="package://object_models/models/garnier_shampoo_bottle.vtk" />
    <param name="gillette_shaving_gel" value="package://object_models/models/gillette_shaving_gel.vtk" />
    <param name="all" value="package://object_models/models/all.vtk" />
    <!-- <param name="drill_custom" value="package://object_models/models/drill_custom.vtk" /> -->
  </group>
  <group ns="stl_uris">
    <param name="garnier_shampoo_bottle" value="package://object_models/models/garnier_shampoo_bottle.vtk.stl" />
    <param name="gillette_shaving_gel" value="package://object_models/models/gillette_shaving_gel.vtk.stl" />
    <param name="all" value="package://object_models/models/all.vtk.stl" />
    <!-- <param name="drill_custom" value="package://object_models/models/drill_custom.vtk.stl" /> -->
  </group>
</launch>
