<launch>
  <rosparam ns="models">
    ['AllBottle']
  </rosparam>
  <group ns="model_uris">
    <param name="AllBottle" value="package://objrec_ros_integration/data/all.vtk" />
  </group>
  <group ns="stl_uris">
    <param name="AllBottle" value="package://objrec_ros_integration/data/all.stl" />
  </group>
</launch>
